<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  {% include "../layout/top.html" %}
  <div id="wrap">
    <div class="container1200">
      <div class="textBox">
        <ul>
          <li>글제목: {{post.dataValues.subject}}</li>
          <li>작성자: {{post.dataValues.userid}}</li>
          <li>조회수: {{post.dataValues.hit}}</li>
          <li>작성일: {{post.dataValues.create_at}}</li>
          <li>{{post.dataValues.content}}</li>
        </ul>
        <div class="btnBox">
          <a href="/board/list" class="boardBtn">글목록</a>
          <a href="/board/modify?idx={{post.dataValues.id}}" class="boardBtn">수정하기</a>
          <a href="/board/delete?idx={{post.dataValues.id}}" class="boardBtn">삭제하기</a>
        </div>
      </div>

    </div>
  </div>

</body>


</html>